<footer class="flex justify-around py-8 px-4 bg-black text-gray-400 flex-wrap">
    <a class="text-6xl pt-8"><span class="text-white">V</span><span class="text-white">X</span><span class="text-red-600">O</span>R</a>
    <div class="pt-10"><h4 class="mb-1.5 border-b border-white pb-1 text-sm">SUPPORT</h4><p class="text-xs">Contact Us<br>Help Center</p></div>
    <div class="pt-10"><h4 class="mb-1.5 border-b border-white pb-1 text-sm">COMPANY</h4><p class="text-xs">About VIXOR<br>Terms of Use</p></div>
    <div class="pt-10"><h4 class="mb-1.5 border-b border-white pb-1 text-sm">SOCIAL</h4><p class="text-xs">Instagram<br>Twitter<br>YouTube</p></div>
    <p class="w-full text-center py-4 text-xs text-white">© 2025 VXOR. All rights reserved.</p>
</footer>