<div class="bg-gray-800 text-white text-center py-1 text-xs fixed top-0 w-full z-10">
 Get 25% OFF on your first order. <a href="/user/order" class="text-red-600 underline hover:text-gray-400">Order now</a>
</div>

<nav class="flex justify-between items-center bg-black border-gray-400 py-3 px-6 fixed top-5 w-full z-[9]">
    <div class="nav-left">
        <a class="text-xl font-bold"><span class="text-white">V</span><span class="text-white">X</span><span class="text-red-600">O</span>R</a>
    </div>
    <div class="nav-center flex justify-center flex-grow gap-3">
        <a href="/user/home" class="text-gray-400 font-semibold hover:text-white transition text-sm">HOME</a>
        <a href="/user/category" class="text-gray-400 font-semibold hover:text-white transition text-sm">CATEGORY</a>
        <a href="/user/brand" class="text-gray-400 font-semibold hover:text-white transition text-sm">BRAND</a>
        <a href="/user/about" class="text-gray-400 font-semibold hover:text-white transition text-sm">ABOUT</a>
        <a href="/user/contact" class="text-gray-400 font-semibold hover:text-white transition text-sm">CONTACT</a>
    </div>
    <div class="nav-right flex items-center gap-3">
       
        <a href="/login" class="text-lg"><i class="fa-solid fa-heart"></i></a>
        <a href="/login" class="text-lg"><i class="fa-solid fa-cart-shopping"></i></a>
        <a href="/user/profile" class="text-lg"><i class="fa-solid fa-user"></i></a>
    </div>
</nav>