


      <section class="form-section">
        <h3>Change Password</h3>
        <form action="/reset-password" method="POST">
          <input type="password" name="newPassword" placeholder="New Password" required>
          <input type="password" name="confirmPassword" placeholder="Confirm Password" required>
          <button type="submit">Change password</button>
        </form>
      </section>
    </div>
  </main>


</body>
</html>
