<div class="admin-sidebar">
  <ul>
    <li class="active">
      <a href="/admin/dashboard"><i class="fas fa-chart-line"></i> Dashboard</a>
    </li>
    <li>
      <a href="/admin/products"><i class="fas fa-box"></i> Products</a>
    </li>
    <li>
      <a href="/admin/orders"><i class="fas fa-receipt"></i> Orders</a>
    </li>
    <li>
      <a class="customers"  href="/admin/customers"><i class="fas fa-users"></i> Customers</a>
    </li>
    <li>
      <a href="/admin/reviews"><i class="fas fa-star"></i> Reviews</a>
    </li>
     <li>
         <a href="/admin/offers"><i class="fas fa-tags"></i> Offers</a>
        
     </li>
  </ul>
  <hr />
  <ul>
    <li>
      <a href="/admin/coupons"><i class="fas fa-tags"></i> Coupons</a>
    </li>
    <li>
      <a href="/admin/banner"><i class="fas fa-image"></i> Banner</a>
    </li>
     <li>
      <a href="/admin/brand"><i class="fas fa-receipt"></i> Brand</a>
    </li>
    <li>
      <a href="/admin/category"><i class="fas fa-list"></i> Category</a>
    </li>
  </ul>
</div>
